apiVersion: v1
kind: ServiceAccount
metadata:
  labels:
    k8s-app: aws-cloud-controller-manager
  name: aws-cloud-controller-manager
  namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  labels:
    k8s-app: aws-cloud-controller-manager
  name: system:aws-cloud-controller-manager
rules:
  - apiGroups:
      - ""
    resources:
      - nodes
    verbs:
      - get
      - list
      - watch
      - update
      - patch
  - apiGroups:
      - ""
    resources:
      - nodes/status
    verbs:
      - patch
  - apiGroups:
      - ""
    resources:
      - services
      - services/status
    verbs:
      - list
      - watch
      - patch
      - update
  - apiGroups:
      - ""
    resources:
      - events
    verbs:
      - create
      - patch
      - update
  - apiGroups:
      - coordination.k8s.io
    resources:
      - leases
    verbs:
      - get
      - list
      - watch
      - create
      - update
      - patch
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  labels:
    k8s-app: aws-cloud-controller-manager
  name: system:aws-cloud-controller-manager
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: ClusterRole
  name: system:aws-cloud-controller-manager
subjects:
  - kind: ServiceAccount
    name: aws-cloud-controller-manager
    namespace: kube-system
---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  labels:
    k8s-app: aws-cloud-controller-manager
  name: system:aws-cloud-controller-manager
  namespace: kube-system
rules:
  - apiGroups:
      - ""
    resources:
      - configmaps
    verbs:
      - create
      - get
      - list
      - update
      - watch
  - apiGroups:
      - ""
    resources:
      - secrets
    verbs:
      - get
  - apiGroups:
      - ""
    resources:
      - endpoints
    verbs:
      - get
      - create
      - list
      - watch
      - update
---
apiVersion: rbac.authorization.k8s.io/v1
kind: RoleBinding
metadata:
  labels:
    k8s-app: aws-cloud-controller-manager
  name: system:aws-cloud-controller-manager
  namespace: kube-system
roleRef:
  apiGroup: rbac.authorization.k8s.io
  kind: Role
  name: system:aws-cloud-controller-manager
subjects:
  - kind: ServiceAccount
    name: aws-cloud-controller-manager
    namespace: kube-system
---
apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    k8s-app: aws-cloud-controller-manager
  name: aws-cloud-controller-manager
  namespace: kube-system
spec:
  replicas: 1
  selector:
    matchLabels:
      k8s-app: aws-cloud-controller-manager
  template:
    metadata:
      labels:
        k8s-app: aws-cloud-controller-manager
    spec:
      priorityClassName: system-cluster-critical
      serviceAccountName: aws-cloud-controller-manager
      securityContext:
        runAsNonRoot: true
        runAsUser: 65534
      hostNetwork: true
      tolerations:
        - key: "node.cloudprovider.kubernetes.io/uninitialized"
          value: "true"
          effect: NoSchedule
        - key: "node-role.kubernetes.io/control-plane"
          effect: NoSchedule
        - key: "node-role.kubernetes.io/master"
          effect: NoSchedule
        - key: "CriticalAddonsOnly"
          operator: Exists
      nodeSelector:
        node-role.kubernetes.io/control-plane: ""
      containers:
        - name: aws-cloud-controller-manager
          image: "registry.k8s.io/provider-aws/cloud-controller-manager:v1.29.0"
          imagePullPolicy: IfNotPresent
          command:
            - /bin/aws-cloud-controller-manager
            - --cloud-provider=aws
            - --leader-elect=true
            - --use-service-account-credentials=true
            - --allocate-node-cidrs=false
            - --configure-cloud-routes=false
            - --cluster-name={{ cluster_name }}
            - --cluster-cidr={{ pod_cidr }}
          env:
            - name: AWS_REGION
              value: {{ region }}
          livenessProbe:
            httpGet:
              path: /healthz
              port: 10258
              host: 127.0.0.1
            initialDelaySeconds: 20
            periodSeconds: 30
          readinessProbe:
            httpGet:
              path: /healthz
              port: 10258
              host: 127.0.0.1
            initialDelaySeconds: 20
            periodSeconds: 30
          resources:
            requests:
              cpu: 200m
              memory: 200Mi
            limits:
              cpu: 500m
              memory: 512Mi
